{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h2>Accueil</h2>
<p>Page d'accueil</p>

<ul>
    <li>
        <a href="{{ url('admin.recipe.index') }}">Recettes</a>
    </li>
    <li>
        <a href="{{ url('admin.category.index') }}">Catégories</a>
    </li>
</ul>
{% endblock %}
