{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <h1>Recettes</h1>
    <ul>
        <li>
            <a href="{{ url('recipe.show', {id: 15, slug: 'hamburgers'}) }}">Burger</a>
        </li>
    </ul>
{% endblock %}
