{% extends "admin/admin.html.twig" %}

{% block title 'Modifier une catégorie' ~ category.name %}

{% block body %}

<h1>Modifier la catégorie "{{ category.name }}"</h1>    

{{ form(form) }}


<div class="container-xl mt-5 border border-warning-subtle bg-light-subtle">
<h2>Catégories : </h2>
   {% for category in categories %}
    <ul>
        <li>{{ category.name }}</li>
    </ul>
   {% endfor %}
</div>

{% endblock %}